@import "normalize";
@import url("https://fonts.googleapis.com/css?family=Lato|Skranji");
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

html {
  background: #0a0f15;
  color: $bleach;
}

.container {
  padding: 2rem;
}

section {
  margin-bottom: 4rem;
}

h1,
h2 {
  @include margin(null null 1rem null);
  color: $lava;
  display: inline-block;
  font-size: 3rem;

  span {
    color: $bleach;
  }
}

a,
p,
ul {
  font-size: 2rem;
}

img {
  @include margin(0 auto 1rem auto);
  max-height: 6rem;
  max-width: 6rem;
  vertical-align: sub;
}

ul {
  list-style-type: square;
  margin-bottom: 2rem;

  li {
    margin-left: 2rem;
  }
}

.logo {
  margin-bottom: 0;
}
