@import "normalize";
@import url("https://fonts.googleapis.com/css?family=Lato|Skranji");
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

html {
  background: $slate;
  color: $bleach;
}

.container {
  padding: 2rem;
  max-width: 500px;
}

h1 {
  @include margin(null null 1rem null);
  color: $lava;
  display: inline-block;
  font-size: 3rem;

  span {
    color: $bleach;
  }
}

a,
p {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

img {
  @include margin(0 auto 1rem auto);
  max-height: 6rem;
  max-width: 6rem;
  vertical-align: sub;
}
