---
layout: default
---

<section class="about">
  <section class="logo">
    <img src="assets/images/dwarfwithknotcircled.svg" alt="" />
  </section>
  <h1>dwarf<span>code</span></h1>
  <p>A design and development consultancy by Michael Anhari.</p>
</section>
<section class="services">
  <h2>Services</h2>
  <ul>
    <li>MVPs</li>
    <li>Feature development</li>
    <li>UI/UX mockups</li>
    <li>Application auditing</li>
  </ul>
</section>
<section class="contact">
  <h2>Say hello</h2>
  <p>
    <a href="mailto:mike@dwarfcode.com">mike@dwarfcode.com</a>
  </p>
</section>
